@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="/css/Registration.css">

<div class="container">
    <h1>Register</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="userName">Username</label>
            <input asp-for="userName" id="userName" class="input-field">
            <span class="text-danger" asp-validation-for="userName"></span>
        </div>
        <div class="form-group">
            <label asp-for="email">Email</label>
            <input asp-for="email" id="email" class="input-field">
            <span class="text-danger" asp-validation-for="email"></span>
        </div>
        <div class="form-group">
            <label asp-for="password">Password</label>
            <input asp-for="password" id="password" type="password" class="input-field">
            <span class="text-danger" asp-validation-for="password"></span>
        </div>
        <button type="submit" value="register" class="btn btn-primary">Register</button>
    </form>
    <p>Already have an account? <a href="Login">Login</a></p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>